<nav class="mb-8 pb-6">
  <div class="flex justify-between items-center">
    <a
      href="/"
      class="text-lg md:text-xl font-bold text-rose-300 hover:text-rose-100"
    >
      ❤️ For Bub
    </a>
    <ul class="flex gap-3 md:gap-6 text-sm md:text-base">
      <li>
        <a href="/pages/memories.html" class="hover:text-rose-300 transition"
          >˙✧˖° ༘ ⋆｡˚</a
        >
      </li>

      <li>
        <a
          href="/pages/questionnaire.html"
          class="hover:text-rose-300 transition"
          >¿?</a
        >
      </li>

      <li>
        <a href="/pages/playlist.html" class="hover:text-rose-300 transition"
          >▶︎•၊၊||၊|။|||||။၊|။•</a
        >
      </li>
    </ul>
  </div>
</nav>
